<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../lib/css/bootstrap.min.css">
    <style>
        #my_loginout {
            font-size: 20px;
            color: red;
            font-weight: 700;
        }

    </style>
</head>

<body>
    <!-- bootstrap的标准写法 container>row容器中间来写内容 container会使两边不顶格有外margin和内padding -->
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <nav class="navbar navbar-default">
                    <div class="container-fluid">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <a class="navbar-brand" href="#">欢迎进入后台管理</a>
                        </div>

                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <p class="navbar-text navbar-right">欢迎[么么哒]登录
                                <a href="/logout" class="navbar-link" id="my_loginout">登出</a>
                            </p>
                        </div>
                        <!-- /.navbar-collapse -->
                    </div>
                    <!-- /.container-fluid -->
                </nav>
            </div>

        </div>
        <div class="row">
            <div class="col-lg-3">
                <div class="list-group">
                    <a href="./update.html" class="list-group-item active">学生管理</a>
                    <a href="#" class="list-group-item">系统管理</a>
                    <a href="#" class="list-group-item">用户管理</a>
                    <a href="#" class="list-group-item">修改密码</a>
                    <a href="#" class="list-group-item">退出系统</a>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <ol class="breadcrumb">
                            <li>
                                <a href="#">首页</a>
                            </li>
                            <li>
                                <a href="#">学生管理</a>
                            </li>
                            <li class="active">学生列表</li>
                        </ol>
                    </div>
                    <div class="panel-heading">
                        <form class="form-inline">
                            <div class="form-group">
                                <label class="sr-only" for="exampleInputAmount">Amount (in dollars)</label>
                                <div class="input-group">
                                    <div class="input-group-addon">学生姓名</div>
                                    <input type="text" class="form-control" id="exampleInputAmount" placeholder="请输入学生姓名进行查询">
                                </div>
                            </div>
                            <button type="submit" class="btn btn-success">查找</button>
                            <button type="submit" class="btn btn-success">新增</button>
                        </form>
                    </div>
                    <div class="panel-body">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>姓名</th>
                                    <th>年龄</th>
                                    <th>性别</th>
                                    <th>手机号码</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>22</td>
                                    <td>13</td>
                                    <td>女</td>
                                    <td>1231212</td>
                                    <td>
                                        <a href="#" class="btn btn-sm btn-success">编辑</a>
                                        |
                                        <a href="#" class="btn btn-sm btn-danger">删除</a>

                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
<script src="../lib/js/jquery-1.12.4.js"></script>
<script src="../lib/js/bootstrap.min.js"></script>